<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/oumaima.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Nouvelles de  la bourse </title>
</head>
<body>

    
    <header>
        <a href="#" class="logo">Nouvelles</a>
        <nav class="navigation">
         <a href="/">Home</a>
         <a href="/sign-in">Sign in</a>
         <a href="#"> Les nouvelles du jour </a>
         <a href="#"> les nouvelles sur la bourse actuelle  </a>
        

        
      
        </nav>
 
        
    </header>
        

       
  
   <section class="main">
    <div>
        <h3>Welcome to our application</h3>
        <h2>Stay attentive<br><span></span></h2>
      
        <a href="#services" class="main-btn">Our services</a>
        <div class="social-icons">
             <a href="#"><i class="fab fa-linkedin"></i></a>
             <a href="#"><i class="fab fa-twitter"></i></a>
             <a href="#"><i class="fab fa-instagram"></i></a>
             <a href="#"><i class="fab fa-github"></i></a>
        </div>
    </div>
   </section>
   
    <section class="cards" id="services">
        <h2 class="title">Services</h2>
        <div class="content">
            <div class="card" >
                <div class="icon">
                    <i class="fas fa-eye"></i>
                </div>

                <div class="info">
                    <h3>Percevoir le monde </h3>
                </div>
            </div>
            <div class="card">
                <div class="icon">
                    <i class="fas fa-street-view"></i>
                </div>
                <div class="info">
                    <h3>toutes les nouvelles marocaines </h3>
                </div>
            </div>
            <div class="card">
                <div class="icon">
                    <i class="fas fa-sliders-h"></i>
                </div>
                <div class="info">
                    <h3>les nouvelles liées à la bourse</h3>
                </div>
            </div>

        </div>
    </section>
   


   <section class="cards contact" id="content">
      <h2 class="title">Contact us</h2>
      <div class="content">
        <div class="card">
            <div class="icon">
                <i class="fas fa-phone-square-alt"></i>
            </div>
            <div class="info">
                <h3>Phone</h3>
                <p>+212 617-975739</p>
            </div>
        </div>
        <div class="card">
            <div class="icon">
                <i class="fas fa-envelope-square"></i>
            </div>
            <div class="info">
                <h3>Email</h3>
                <p>Tayyarat_Keddari@gmail.com</p>

            </div>
        </div>
 

 

    </div>
   </section>
   <footer class="footer">
     <p class="footer-title">Copyrights @<span>News site</span></p>
     <div class="social-icons">
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-github"></i></a>

     </div>
   </footer>
   <script src="vanilla-tilt.js.txt"></script>


    
</body>
</html>