<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" media="screen,projection" type="text/css" href="static/css/main.css" />
<link rel="stylesheet" media="screen,projection" type="text/css" href="static/css/skin.css" />
<script type="text/javascript" src="javascript/cufon-yui.js"></script>
<script type="text/javascript" src="javascript/font.font.js"></script>
<script type="text/javascript">
Cufon.replace('h1, h2, h3, h4, h5, h6', {
    hover: true
});
</script>
</head>
{% extends "about/templates/about_templates.html" %}
{% block title %}Les nouvelles du jour{% endblock %}
{% block main %}
<body>
<!-- START PAGE SOURCE -->

  
  <div id="section" class="box">
    <div id="content">
      <ul class="articles box">
        {% for i in range(0,20)%}
        <li>
          <br><br><h2><a href="#">{{data["articles"][i]["title"]}} </a></h2>
          <div class="article-info box">
            <p class="f-right"><a href="#" class="comment">Comments (16)</a></p>
            <p class="f-left">{{data["articles"][i]["publishedAt"]}}, | Posted by <a href="#">{{data["articles"][i]["author"] }}</a> | Filed under <a href="#">templates</a>, <a href="#">webdesign</a>, <a href="#">internet</a></p>
          </div>
          <p><img src="{{data['articles'][i]['urlToImage'] }}" alt=""  width="100" height="100"  class="f-left" />
          <p>{{data["articles"][i]["description"] or data["articles"][i]["content"]}}</p>
          
          <p class="more"><a href="{{data['articles'][i]['url'] }}">Read more &raquo;</a></p>
        </li>
        {% endfor %}
        
      </ul>
      <div class="pagination box">
        <p class="f-right"> <a href="#" class="current">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">5</a> <a href="#">6</a> <a href="#">7</a> <a href="#">Next &raquo;</a> </p>
        <p class="f-left">Page 1 of 8</p>
      </div>
    </div>
    <div id="aside">
      <form action="#" method="get" id="search">
        <p>
        
        </p>
      </form>

      <h3>About</h3>
      <p class="box"> <img src="static/design/MicrosoftTeams-image.png" alt="" class="f-left"  width="120" height="120"  /> My name is Fintech. I´m a application of news classification .<br />
        <a href="#">More about me</a> </p>
      <h3 class="nomb">Fintech</h3>
      <ul class="sponsors">
        <!-- <li><a href="#">Lorem ipsum dolor</a><br />
          Donec libero. Suspendisse bibendum</li> -->
        <li><a href="#">Dui pede condimentum</a><br />
          Phasellus suscipit, leo a pharetra</li>
        <li><a href="#">Condimentum lorem</a><br />
          Tellus eleifend magna eget</li>
        <li><a href="#">Donec mattis</a><br />
          purus nec placerat bibendum</li>
      </ul>
    </div>
  </div>
</div>
<div id="footer">
  <div class="main box">
    <p class="footer-title">Copyrights @<span>News site</span></p>
     <div class="social-icons">
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-github"></i></a>
  </div>
</div>
<script type="text/javascript">Cufon.now();</script>
<!-- END PAGE SOURCE -->
</body>
</html>
{% endblock %}
