{% extends "about/templates/about_templates.html" %}
{% block title %}SST & Fire detection{% endblock %}
{% block main %}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('static',filename='css/web.css')}}">
<body>
<div class="container">
  <div class="row">
<div class="col">
  <form>
  <h1>Web streaming</h1>
<img src="{{ url_for('about') }}" height="100%" alt="centered image">
  <h3>Stay informed from your place</h3>
  <hr>
</div>
</div>
 </div>
</form>
</body>


{% endblock %}